body {
    margin: 0;
    padding: 0;
}

.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90px;
    background: #333;
}

h1 {
    color: #fff;
}